{% load static %}
{% load humanize %}
<link rel="stylesheet" type="text/css" href="{% static 'wallets/style.css' %}">

<h1>Bitcoin Wallet Information</h2>

<header>
    <a href="{% url 'index' %}">Home</a>
</header>

<p>address:
    <span class="monospace"><a href=https://blockchair.com/bitcoin/address/{{address.address}}/>{{address.address}}</a></span>,
    <span class="monospace">balance: ${{balance | floatformat:2 | intcomma  }}</span>
</p>

{% if transactions %}
    <table class="grid">
    <tr>
        <th>Timestamp</th>
        <th>Transaction ID</th>
        <th>Biggest Recipient</th>
        <th>Recipient Amount</th>
        <th>Total Amount</th>
        <th>Add?</th>
    </tr>
    {% for t, extra in transactions.items %}
        <tr class="monospace">
            <td>{{ extra.timestamp }}</td>
            <td><a href="https://blockchair.com/bitcoin/transaction/{{t}}">{{t}}</a></td>
            <td>{{ extra.biggest_recipient }} <a href="https://blockchair.com/bitcoin/address/{{extra.biggest_recipient}}">link</a></td>
            <td class="right-align">${{ extra.biggest_recipient_amount | floatformat:2 | intcomma }}</td>
            <td class="right-align">${{ extra.amount | floatformat:2 | intcomma }}</td>
            <td>
            {% if extra.biggest_recipient_not_tracked %}
                <form class="hidden-form" action="{% url 'add' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="address" value="{{ extra.biggest_recipient }}" />
                    <input type="submit" value="add">
                </form>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

    <footer class="smaller">

    {% if page > 1 %}
        <a href="{{request.path}}?page={{page|add:-1}}">prev</a>
    {% else %}
        <span>prev</span>
    {% endif %}

    [ Page {{page}} out of {{page_total}} | {{transactions_total}} results ]

    {% if page < page_total %}
        <a href="{{request.path}}?page={{page|add:1}}">next</a>
    {% else %}
        <span>next</span>
    {% endif %}

    </footer>
{% else %}
    <p>No transactions are available.</p>
{% endif %}
