{% load static %}
{% load humanize %}
<link rel="stylesheet" type="text/css" href="{% static 'wallets/style.css' %}">
<title>Cointracker</title>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<h1>Welcome to Cointracker!</h1>

<h2>Most Recent Addresses</h2>
{% if most_recent_addresses %}
    <table class="grid">
        <tr>
            <th>Address</th>
            <th>Balance</th>
        </tr>
        {% for a in most_recent_addresses %}
            <tr class="monospace">
                <td><a href="{% url 'detail' a.id %}">{{ a.address }}</a></td>
                <td class="right-align">${{ a.balance | floatformat:2 | intcomma }} </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No addresses are available.</p>
{% endif %}

<form action="{% url 'add' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="add">
</form>